.details {
    height: 96%;
    object-fit: cover
}

.image {
    border-radius: 10px;
}

.review-img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #dbdada;
    margin-right: 10px;
}

@media (max-width: 767px) {
    .px-3 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .image{
        margin: 20px 0 20px 0 !important;
    }
    .details{
        height: 500px;
    }
}

@media (min-width: 1400px) {
    .details{
        height: 92%;
    }
}



