.RentCard img {
    height: 350px;
    object-fit: cover
}

.RentCard {
    transition: transform .2s;

}

.RentCard:hover {
    transform: scale(1.02);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1)
}

div .row {
    margin: 0;
}

