@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.dropdown-menu.show {
    display: block;
    background: rgb(104 56 23 / 50%);
    backdrop-filter: blur(10px);
    transition: max-height 0.5s ease-out;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada cuando está visible */
}

.dropdown-item {
    font-size: 18px;
    color: #ccc;
    font-weight: 400;
    letter-spacing: -0.5px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dropdown-item:hover {
    color: rgb(238, 238, 238);
    background-color: rgba(255, 255, 255, 0);
    transform: scale(1.03);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.485);
    cursor: pointer;
}

.modal-content {
    background: rgb(104 56 23 / 50%);
    backdrop-filter: blur(10px);
    color: #dbdada;
}

.modal-dialog {
    color: white;
}

.galery-text {
    margin: 10px;
    text-align: center;
}

.galery-text {
    font-weight: 400;
    color: #ccc;
}

.galery-text:hover {
    color: white;
    transform: scale(1.03);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.485);
}

.button {
    background-color: #f377395e;
    transition: transform .2s;
    color: #ccc;
    font-size: 18px;
    max-height: 40px;
    margin-top: 4px;
}

.button:hover {
    color: white;
    background-color: #f377395e;
    transform: scale(1.03);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.485);
    box-shadow: 3px 3px 5px rgba(10, 10, 10, 0.363);
}

.cool {
    font-family: 'Pacifico';
    font-size: 1.4em;
    text-shadow: rgb(171, 144, 62) 1px 0px 10px;
}

.NavBar {
    background-image: url("../../../public/navbar.jpeg");
    font-size: large;
}

.imageNav {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #dbdada;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.1);
    transition: transform .2s;
    margin: 0
}

.imageNav:hover {
    transform: scale(1.1)
}

a.dropdown-toggle.nav-link {
    padding: 0px 0px;
}

.dropdown-toggle::after {
    display: none !important;
}

.nav-link {
    padding: 0;
}

.galery-text {
    margin: 10px
}