.home {
    text-align: center;
    color: white;

}

.homepage {
    width: 100%;
    position: fixed;
    background-size: cover;
    z-index: -1;
}

.hero {
    font-size: 12rem;
}

.back {
    background-color: black;
}